@mixin startGrid($column, $row,$url,$name) {
    grid-column: $column;
    grid-row: $row;
    background-image: url($url);
    animation-name: $name;
}

%fullbodywithanimation {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    animation-direction: normal;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    z-index: 100;
}

body {
    overflow: hidden;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

#top {
    @extend %fullbodywithanimation;
    @include startGrid(1, 1, 'pokeTop.png', topTranslate)
    
}

#bot {
    @extend %fullbodywithanimation;
    @include startGrid(1, 2,'pokeBot.png', botTranslate)
}

@keyframes topTranslate {
    from {transform: translateY(0px)}
    to {transform: translateY(-500px)}
}

@keyframes botTranslate {
    from {transform: translateY(0px)}
    to {transform: translateY(700px)}
}
